@import "tailwindcss";


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: auto;
}

main {
  width: 100vw;
  height: auto;
}

.service {
  transition: all .3s ease;
}